.*.*.*
cpp/.*.*.*
cpp/hex/.*.*.*
cpp/hex/include/.*.*.*
cpp/hex/solver2
cpp/hex/src/.*.*.*
cpp/hex/obj
cpp/nex/.*.*.*
cpp/nex/include/.*.*.*
cpp/nex/solver2
cpp/nex/src/.*.*.*
cpp/nex/obj
cpp/ttt/obj
